header {
  height: 100px;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
}
header div.headerContainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
header div.headerContainer div.companyLogo {
  padding-left: 58px;
  padding-top: 25px;
  width: 50%;
  float: left;
}
header div.headerContainer ul {
  width: 75%;
  float: left;
  margin-left: -25%;
}
header div.headerContainer ul li {
  float: left;
  border-right: 1px solid #e6e6e6;
}
header div.headerContainer ul li a {
  text-align: center;
  font-size: 14px;
  display: block;
  height: 100px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
header div.headerContainer ul li a span {
  display: block;
  font-size: 12px;
}
header div.headerContainer ul li:hover {
  background-color: #000;
}
header div.headerContainer ul li:hover a {
  color: white;
  text-decoration: none;
}
nav {
  height: 50px;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  z-index: 100;
  margin-bottom: 50px;
}
nav ul {
  max-width: 1200px;
  height: 100%;
}
nav ul li {
  text-align: center;
  width: 16.6%;
  height: 100%;
  float: left;
  border-right: 1px solid #e6e6e6;
}
nav ul li a {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
}
nav ul li:nth-child(6) {
  border: none;
}
nav ul li:hover {
  background-color: #000;
}
nav ul li:hover a {
  color: white;
}
